<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PCR">
        <provider
            android:name=".presentation.ZipContentProvider"
            android:authorities="com.ibaevzz.pcr"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name=".presentation.service.SendErrorService"
            android:exported="false" />
        <service
            android:name=".presentation.service.RssiService"
            android:exported="false" />

        <activity
            android:name=".presentation.activity.SendReportActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.ChooseConnectTypeActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.WriteValuesActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.MenuPCRActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.SendDatabaseActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.ChooseConnectTypeActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.PhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.ChannelActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.ChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.FindChannelActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.ArchiveActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.MenuPCRActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.FindChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.MenuPCRActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.WriteWeightActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.MenuPCRActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.MenuPCRActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.ConnectActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.BluetoothSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.ConnectActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.WifiConnectActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.ConnectActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.ConnectActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.ChooseConnectTypeActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.ChooseConnectTypeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.activity.UsernameActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>